<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="com.change_vision.astah.ui.actionSets">
        <actionSet id="dsk.colorpicker.actionSet">
            <action
                id="colorpicker"
                label="%menu_label"
                class="dsk.colorpicker.plugin.action.ColorPickerAction"
                menubarPath="edit/stereotype_color/"
            >
            </action>
        </actionSet>
    </extension>
</plugin>
